<nav class="{{.class}}">
    <table width="100%">
        <tr>
            <td>
                <span class="prev">
                    &larr; Previous
                </span>
            </td>
            <td>
                <span class="toc">&equiv;<a href="{{(.page.Site.GetPage "/books/").RelPermalink}}">The Books</a></span>
            </td>
            <td>
                <span class="toc"><a href="{{(.page.Site.GetPage "/tags/").RelPermalink}}">§ Tags</a></span>
            </td>
            <td>
                <span class="next">
                    Next &rarr;
                </span>
            </td>
        </tr>
    </table>
</nav>
