<table width="100%">
    <tr>
        <td>
            <span class="prev">
                {{ with .NextInSection }}
                    <a href="{{ .RelPermalink }}">
                {{ end }}
                &larr; Previous
                {{ with .NextInSection }}
                    </a>
                {{end}}
            </span>
        </td>
        <td>
            <span class="toc">&equiv;<a href="/books/">The Books</a></span>
        </td>
        <td>
            <span class="toc"><a href="/tags/">§ Tags</a></span>
        </td>
        <td>
            <span class="next">
                {{ with .PrevInSection }}
                    <a href="{{ .RelPermalink }}">
                {{ end }}
                Next &rarr;
                {{ with .PrevInSection }}
                    </a>
                {{end}}
            </span>
        </td>
    </tr>
</table>