<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <title>{{book_title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <link rel="stylesheet" type="text/css" href="{{& style_css}}" />
        <link href="http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic|Source+Code+Pro|Source+Sans+Pro:200,300,400,600,400italic,600italic|Rock+Salt" rel="stylesheet" type="text/css">
    </head>
    <body class="index">
        <div class="page">
            <div class="content">
                <aside class="index">
                    <div class="sign-up">
                    </div>

                    <h2>Table of Contents</h2>
                    {{& toc}}
                </aside>

                <h1>{{book_title}}</h1>

                {{& index}}

                <a class="start-reading" href="{{first_page}}">Start Reading!</a>

                <div class="narrow-toc">
                    <h2>Table of Contents</h2>
                    <table>
                        <tr>
                            <td width="50%">
                        <ul>
                            {{& toc}}
                        </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <footer>&copy; {{copyright}}</footer>
    </body>
</html>
